.container_bonus {
    border: 1px solid #00aa57;
    padding: 15px 0;
    position: relative;
    border-radius: 8px;
}

.title {
    position: absolute;
    background-color: white;
    font-size: 22px;
    font-weight: 600;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 7px;
}

.bonus {
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .container_bonus {
        margin-top: 15px;
    }
}