.buttonContainer {
    width: 100%;
    background-color: #00aa57;
    color: white;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 600px) {
    .buttonContainer {
        margin-top: 10px;
    }
}